section.rock-paper-scissors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding: 10rem 4rem;
    color: var(--font-color);
}

section div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    width: 100%;
    background-color: black;
    border: 2px solid var(--red);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.8rem 0.2rem var(--black);
    max-width: 1024px;
}

section div.score {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
}

section div.score span {
    font-size: 3rem;
    text-align: center;
}

section div.computer-choice,
section div.game-panel {
    justify-content: space-evenly;
}

section div.computer-choice span {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--red);
}

section div.computer-choice i,
section div.game-panel i {
    font-size: 5rem;
}

section div.result {
    flex-basis: 10%;
    justify-content: space-evenly;
    border: 2px solid var(--black);
    background-color: var(--red);
    color: var(--black);
}

section div.result span {
    font-size: 2.5rem;
}


section div.game-panel i.active {
    color: var(--red);
}

section div.play {
    flex-basis: 10%;
    background-color: var(--red);
    cursor: pointer;
}

section div.play span {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}

section div.reset {
    flex-basis: 5%;
    border: none;
    cursor: pointer;
}

section div.reset span {
    font-size: 3rem;
    text-transform: uppercase;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 3rem;
    background-color: var(--black);
    color: var(--red);
}

@media (min-width: 768px) {
    section div.score span {
        font-size: 5rem;
    }
    
    
    section div.computer-choice span {
        font-size: 6rem;
    }
    
    section div.computer-choice i,
    section div.game-panel i {
        font-size: 10rem;
    }

    section div.result span {
        font-size: 3.5rem;
    }
    
    
    section div.play span {
        font-size: 7rem;
    }
    
    section div.reset span {
        font-size: 4rem;
    }
    
}

@media (min-width: 1024px) {
    section div.score span {
        font-size: 7rem;
    }
    
    
    section div.computer-choice span {
        font-size: 9rem;
    }
    
    section div.computer-choice i,
    section div.game-panel i {
        font-size: 15em;
    }

    section div.result span {
        font-size: 4.5rem;
    }
    
    
    section div.play span {
        font-size: 10rem;
    }
    
    section div.reset span {
        font-size: 5rem;
    }
    
}