section.rock-paper-scissors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    padding: 10rem 4rem;
    color: var(--font-color);
}

section div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    width: 100%;
    background-color: black;
    border: 2px solid var(--red);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.8rem 0.2rem var(--black);
}

section div.score {
    display: flex;
    justify-content: space-around;
    flex-basis: 10%;
}

section div.score span {
    font-size: 3rem;
    text-align: center;
}

section div.computer-choice,
section div.game-panel {
    justify-content: space-evenly;
}

section div.computer-choice span {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--red);
}

section div.computer-choice i,
section div.game-panel i {
    font-size: 5rem;
}

section div.result {
    flex-basis: 10%;
    justify-content: space-evenly;
    border: 2px solid var(--black);
    background-color: var(--red);
    color: var(--black);
}

section div.result span {
    font-size: 2.5rem;
}

section div.result span.pc-choice i,
section div.result span.your-choice i {
    font-size: 2rem;
}

section div.game-panel i.active {
    color: var(--red);
}

section div.play {
    flex-basis: 10%;
    background-color: var(--red);
    cursor: pointer;
}

section div.play span {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 3rem;
    background-color: var(--black);
    color: var(--red);
}
