/* colors*/

:root {
    --main-color: #a60303;
    --black: #0d0d0d;
    --font-color: #d9d8d6;
    --red: #f20505;
}

/* fonts */
/* 
font-family: 'Kanit', sans-serif;
font-family: 'VT323', monospace;
 */

/* animations */
@-webkit-keyframes color-change {
    0% {
        background: var(--main-color);
    }

    100% {
        background: var(--red);
        box-shadow: 0 0 3rem 0.5rem var(--red);
    }
}
@keyframes color-change {
    0% {
        background: var(--main-color);
    }

    100% {
        background: var(--red);
        box-shadow: 0 0 3rem 0.5rem var(--red);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'VT323', monospace;
    scroll-behavior: smooth;
}

body {
    background: rgb(166, 3, 3);
    background: -moz-linear-gradient(125deg, rgba(166, 3, 3, 1) 20%, rgba(242, 5, 5, 1) 80%);
    background: -webkit-linear-gradient(125deg, rgba(166, 3, 3, 1) 20%, rgba(242, 5, 5, 1) 80%);
    background: linear-gradient(125deg, rgba(166, 3, 3, 1) 20%, rgba(242, 5, 5, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a60303",endColorstr="#f20505",GradientType=1);
    min-height: 200vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7rem;
    background-color: var(--black);
    color: var(--font-color);
    z-index: 1;
}

nav div.logo {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

i.fa-square-js,
h2.brand {
    font-size: 3.5rem;
    text-transform: uppercase;
}

h2.brand {
    font-family: 'Kanit', sans-serif;
}

i.fa-square-js {
    color: var(--main-color);
    margin-right: 0.5rem;
}

nav ul {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    font-size: 1.6rem;
    color: var(--font-color);
    text-decoration: none;
    text-transform: uppercase;
}

i.fa-bars.active {
    display: block;
    font-size: 3.5rem;
    padding: 0 2rem;
    color: var(--main-color);
    cursor: pointer;
}

i.fa-bars {
    display: none;
}

i.fa-x {
    display: none;
    font-size: 3.5rem;
    padding: 0 2rem;
    color: var(--main-color);
    cursor: pointer;
}

i.fa-x.active {
    display: block;
}

div.side-menu {
    display: none;
}

div.side-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--black);
    width: 50%;
    height: 75%;
    padding: 3rem;
}

div.side-menu a,
div.side-menu div i {
    display: block;
    font-size: 3rem;
    color: var(--font-color);
    text-transform: uppercase;
    text-decoration: none;
}

div.side-menu div i {
    display: inline-block;
}

header {
    height: 100vh;
    background-image: url(img/pexels-mikechie-esparagoza-normal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

div.title {
    color: var(--font-color);
    text-align: center;
    text-transform: uppercase;
}

div.title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* div.title-logo i.fa-square-js,
h1.title {
    font-size: 8.5rem;
    color: var(--font-color);
} */

/* div.title-logo i.fa-square-js {
    -webkit-text-stroke: 2px var(--font-color);
    color: var(--main-color);
} */

div.title-logo div.js {
    position: relative;
    width: 7rem;
    height: 7rem;
    border: 2px solid var(--font-color);
    border-radius: 1.5rem;
    background-color: var(--main-color);
}

div.js span {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    font-size: 6rem;
    line-height: 5rem;
}

h1.title {
    font-size: 10rem;
    /* -webkit-text-stroke: 2px var(--font-color); */
    color: var(--font-color);
}

div.title p.description {
    text-transform: none;
    font-size: 1.2rem;
    padding: 0 2rem;
    font-family: 'Kanit', sans-serif;
}

div.socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    background-color: var(--black);
    border: 4px double var(--red);
    border-radius: 1rem;
    width: 70%;
    padding: 2rem 1rem;
}

.pacman {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #f2d648;
    position: relative;
}

.pacman__mouth {
    background: var(--black);
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(105% 74%, 44% 48%, 100% 21%);
}

div.socials i,
div.socials span {
    color: var(--font-color);
    font-size: 2rem;
}

i.fa-ghost.fa-solid {
    color: var(--red);
}

button.play {
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    margin-top: 10rem;
    color: var(--font-color);
    border: none;
    border-radius: 2rem;
    -webkit-animation: color-change 2s linear infinite alternate both;
    animation: color-change 2s linear infinite alternate both;
    cursor: pointer;
}

section.games {
    display: grid;
    grid-template-columns: auto;
    height: 100vh;
    padding: 2rem 0;
}

div.game {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 0;
}

div.game1 {
    background-image: url(img/pexels-cottonbro-studio-4836386-small.jpg);
}

div.game2 {
    background-image: url(img/pexels-cottonbro-studio-4841182-small.jpg);
}

div.game3 {
    background-image: url(img/pexels-cottonbro-studio-4836513-small.jpg);
}

div.dark-wrapper {
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
}

div.game-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: var(--font-color);
}

div.game-title h2 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'Kanit', sans-serif;
}

div.game-title span i {
    font-size: 2.5rem;
}

div.game-title p {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    padding: 0 2rem;
}

div.game button.game-play {
    width: 100%;
    height: 3.5rem;
    background-color: var(--black);
    color: var(--font-color);
    border: none;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}

section.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    background-color: var(--black);
}

section.contact h2.contact {
    font-size: 6rem;
    color: var(--font-color);
    text-align: center;
    padding: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    padding: 1rem;
    color: var(--font-color);
    border: 6px double var(--main-color);
    border-radius: 2rem;
    width: 80%;
}

form label {
    font-size: 2.5rem;
}

form input,
form textarea {
    width: 80%;
    font-size: 3rem;
    border: 2px solid var(--red);
    border-radius: 1rem;
    color: var(--font-color);
    background-color: var(--black);
    margin: 0.5rem 0 2rem 0;
    padding: 1rem;
}

form textarea {
    font-size: 1.6rem;
    height: 10rem;
}

form input.submit {
    background-color: var(--main-color);
    text-transform: uppercase;
    font-size: 4rem;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 3rem;
}

@media (min-height: 840px) {
    div.title-logo div.js {
        width: 8rem;
        height: 8rem;
    }

    h1.title {
        font-size: 12rem;
    }

    div.title p.description {
        font-size: 1.6rem;
    }

    button.play {
        font-size: 6rem;
    }

    form {
        gap: 1.5rem;
    }

    form input,
    form textarea {
        font-size: 4rem;
    }

    form textarea {
        font-size: 1.6rem;
        height: 15rem;
    }
}

@media (min-width: 768px) {
    div.side-menu a,
    div.side-menu div i {
        font-size: 5rem;
    }

    div.title-logo div.js {
        width: 13rem;
        height: 13rem;
    }

    div.js span {
        bottom: 1rem;
        font-size: 10rem;
    }

    h1.title {
        font-size: 20rem;
    }

    div.title p.description {
        font-size: 2rem;
    }

    .pacman {
        width: 4rem;
        height: 4rem;
    }

    div.socials i,
    div.socials span {
        color: var(--font-color);
        font-size: 4rem;
    }

    button.play {
        font-size: 10rem;
    }

    div.game-title h2 {
        font-size: 8rem;
    }

    div.game-title span i {
        font-size: 6rem;
    }

    div.game-title p {
        font-size: 1.8rem;
    }

    div.game button.game-play {
        height: 6rem;
        font-size: 5rem;
    }

    section.contact {
        min-height: 100vh;
        background-color: var(--black);
    }

    section.contact h2.contact {
        font-size: 10rem;
    }

    form label {
        font-size: 3.5rem;
    }

    form input.submit {
        font-size: 5rem;
    }

    footer {
        font-size: 5rem;
    }
}

@media (min-width: 1024px) {
    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        flex-basis: 60%;
    }

    nav ul li a {
        font-size: 4rem;
    }

    i.fa-bars.active {
        display: none;
    }

    div.title-logo div.js {
        width: 20rem;
        height: 20rem;
    }

    div.js span {
        bottom: 3rem;
        font-size: 15rem;
    }

    h1.title {
        font-size: 30rem;
    }

    div.title p.description {
        font-size: 2.4rem;
    }

    .pacman {
        width: 5rem;
        height: 5rem;
    }

    div.socials i,
    div.socials span {
        font-size: 5rem;
    }

    button.play {
        font-size: 10rem;
    }

    div.game-title h2 {
        font-size: 6rem;
    }

    div.game-title span i {
        font-size: 5rem;
    }

    div.game-title p {
        font-size: 1.8rem;
    }

    div.game button.game-play {
        height: 6rem;
        font-size: 5rem;
    }

    section.contact h2.contact {
        font-size: 8rem;
    }

    form label {
        font-size: 5rem;
    }

    form input.submit {
        font-size: 6rem;
    }

    footer {
        font-size: 6rem;
    }
}

@media (min-width: 1440px) {
    nav ul {
        flex-basis: 40%;
        margin-right: 4rem;
    }

    nav ul li a {
        font-size: 5rem;
    }

    div.title-logo div.js {
        width: 25rem;
        height: 25rem;
    }

    div.js span {
        bottom: 5rem;
        font-size: 20rem;
    }

    h1.title {
        font-size: 35rem;
    }

    div.title p.description {
        font-size: 4.4rem;
    }

    div.game-title p {
        font-size: 2.8rem;
    }

    div.game button.game-play {
        height: 8rem;
        font-size: 7rem;
    }

    form {
        max-width: 120rem;
    }

    form textarea {
        height: 40rem;
    }
}
