/* colors*/

:root {
    --main-color: #a60303;
    --black: #0d0d0d;
    --font-color: #d9d8d6;
    --red: #f20505;
}

/* fonts */
/* 
font-family: 'Kanit', sans-serif;
font-family: 'VT323', monospace;
 */

/* animations */
@-webkit-keyframes color-change {
    0% {
        background: var(--main-color);
    }

    100% {
        background: var(--red);
        box-shadow: 0 0 3rem 0.5rem var(--red);
    }
}
@keyframes color-change {
    0% {
        background: var(--main-color);
    }

    100% {
        background: var(--red);
        box-shadow: 0 0 3rem 0.5rem var(--red);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'VT323', monospace;
}

body {
    background-color: var(--main-color);
    min-height: 200vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7rem;
    background-color: var(--black);
    color: var(--font-color);
    z-index: 1;
}

nav div.logo {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

i.fa-square-js,
h2.brand {
    font-size: 3.5rem;
    text-transform: uppercase;
}

h2.brand {
    font-family: 'Kanit', sans-serif;
}

i.fa-square-js {
    color: var(--main-color);
    margin-right: 0.5rem;
}

nav ul {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    font-size: 1.6rem;
    color: var(--font-color);
    text-decoration: none;
    text-transform: uppercase;
}

i.fa-bars {
    font-size: 3.5rem;
    padding: 0 2rem;
    color: var(--main-color);
    cursor: pointer;
}

header {
    height: 100vh;
    background-image: url(img/pexels-mikechie-esparagoza-normal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

div.title {
    color: var(--font-color);
    text-align: center;
    text-transform: uppercase;
}

div.title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* div.title-logo i.fa-square-js,
h1.title {
    font-size: 8.5rem;
    color: var(--font-color);
} */

/* div.title-logo i.fa-square-js {
    -webkit-text-stroke: 2px var(--font-color);
    color: var(--main-color);
} */

div.title-logo div.js {
    position: relative;
    width: 7rem;
    height: 7rem;
    border: 2px solid var(--font-color);
    border-radius: 1.5rem;
    background-color: var(--main-color);
}

div.js span {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    font-size: 6rem;
    line-height: 5rem;
}

h1.title {
    font-size: 10rem;
    /* -webkit-text-stroke: 2px var(--font-color); */
    color: var(--font-color);
}

div.title p.description {
    text-transform: none;
    font-size: 1.2rem;
    padding: 0 2rem;
    font-family: 'Kanit', sans-serif;
}

div.socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    background-color: var(--black);
    border: 4px double var(--red);
    border-radius: 1rem;
    width: 70%;
    padding: 2rem 1rem;
}

.pacman {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #f2d648;
    position: relative;
}

.pacman__mouth {
    background: var(--black);
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(105% 74%, 44% 48%, 100% 21%);
}

div.socials i,
div.socials span {
    color: var(--font-color);
    font-size: 2rem;
}

i.fa-ghost.fa-solid {
    color: var(--red);
}

button.play {
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    margin-top: 10rem;
    color: var(--font-color);
    border: none;
    border-radius: 2rem;
    -webkit-animation: color-change 2s linear infinite alternate both;
    animation: color-change 2s linear infinite alternate both;
}

section.games {
    display: grid;
    grid-template-columns: auto;
    height: 100vh;
    padding: 2rem 0;
}

div.game {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 0;
}

div.game1 {
    background-image: url(img/pexels-cottonbro-studio-4836386-small.jpg);
}

div.game2 {
    background-image: url(img/pexels-cottonbro-studio-4841182-small.jpg);
}

div.game3 {
    background-image: url(img/pexels-cottonbro-studio-4836513-small.jpg);
}

div.dark-wrapper {
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
}

div.game-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: var(--font-color);
}

div.game-title h2 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'Kanit', sans-serif;
}

div.game-title span i{
    font-size: 2.5rem;
}

div.game-title p {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    padding: 0 2rem;
}

div.game button.game-play {
    width: 100%;
    height: 3.5rem;
    background-color: var(--black);
    color: var(--font-color);
    border: none;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

section.contact {
    min-height: 100vh;
    background-color: var(--black);
}

section.contact h2.contact {
    font-size: 6rem;
    color: var(--font-color);
    text-align: center;
    padding: 3rem;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 2rem;
    padding: 1rem;
    color: var(--font-color);
    border: 6px double var(--main-color);
    border-radius: 2rem;
}

form label {
    font-size: 2.5rem;
}

form input,
form textarea {
    width: 80%;
    font-size: 3rem;
    border: 2px solid var(--red);
    border-radius: 1rem;
    color: var(--font-color);
    background-color: var(--black);
    margin: 0.5rem 0 2rem 0;
    padding: 1rem;
}

form textarea {
    font-size: 1.6rem;
    height: 10rem;
}

form input.submit {
    background-color: var(--main-color);
    text-transform: uppercase;
    font-size: 4rem;
}

footer {
    text-align: center;
    font-size: 3rem;
}
